<hr class="slim-line">
 <section class="py-5 bg-white">
     <div class="container">
         <div class="row">         
             <!--Paragraph -->
             <div class="col-md-9">
                 <h1 class="text ps-3">
                     <span class="text-dark">This First Heading</span>
                     <span class="text-secondary">Will Catch Your Eye</span>
                 </h1>
                 <p class="lead text-dark ps-3">
                 <strong>Walter White</strong> is the main character of the critically acclaimed TV series Breaking Bad. 
                 Portrayed by Bryan Cranston, Walter White is a high school chemistry teacher turned methamphetamine manufacturer. 
                 His transformation from a mild-mannered family man to a ruthless drug lord is one of the most compelling and complex character journeys in television history.
                 </p>
             </div>
             <!-- Services photo-->
             <div class="col-md-3">
                <img src="/website/assets/img/1.jpg" alt="Bold guy that looks like the main character from Braking Bad" class="img-fluid rounded-circle" style="width: auto; height: auto;">
            </div>
         </div>
     </div>
 </section>