
  
        <div>
            <div>
                <h1><strong>Portfolio</strong></h1>
                <p>Technology drives progress by connecting people, improving efficiency, and solving global challenges. It enhances education, fuels innovation, and powers advancements in medicine, communication, and business. By streamlining tasks and expanding access to resources, technology empowers individuals and societies, shaping a more connected and capable world. </p>
            </div>
            <div>
                <div class="card-group">
                    <div class="card">
                      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="text-primary">Project name</h5>
                        <p class="card-text">This is ... This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. </p>
                        
                      </div>
                    </div>
                    <div class="card">
                      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="text-primary">Project name</h5>
                        <p class="card-text"> ... not suppose to look like this... This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. </p>
                     
                      </div>
                    </div>
                    <div class="card">
                      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="text-primary">Project name</h5>
                        <p class="card-text"> ... hmm ... This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                
                      </div>
                    </div>
                  </div>
            </div>
        </div>
   
