<!-- your html code here -->
<section class="py-5 bg-white">
    <div class="container">
        <div class="row">
            <!-- Introduction Paragraph -->
             <!-- Rounded photo -->
            <div class="col-md-3">
                <img src="/website/assets/img/2.jpg" alt="Photo of a womans hands typing on a wireless keyboard with a pen sitting off to her left" class="img-fluid rounded-circle" style="width: auto; height: auto;">
            </div>
            <div class="col-md-9">
                <h1 class="text">
                    <span class="text-dark">The Second Heading</span>
                    <span class="text-secondary">Is Pretty Cool Too.</span>
                </h1>
                <p class="lead text-dark">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ex urna, id facilisis erat convallis in. Nam maximus convallis dolor, nec laoreet felis iaculis eget. Quisque vitae semper erat, ac congue ante. Sed feugiat justo mauris, in accumsan purus condimentum a. Vestibulum vulputate massa in urna lobortis euismod.
                </p>
            </div>
        </div>
    </div>
</section>